	*{
		margin:0;
		padding:0;

		box-sizing:border-box;
	}
	html{
		height: 100%;
		margin:0;
		padding:0;
	}
	body{
		font-size:13px;
		height: 100%;
	}
	a{
		text-decoration:none;
	}
	li{
		list-style:none;
	}
	h1{
		color:#FFF;
		font-size:30px;
		font-weight:normal;
	}
	h2{
		color:#fff;
		font-weight:normal;
		font-size:17px;
	}
	img{
		vertical-align:middle;
	}

	.lineThrough{
		text-decoration:line-through;
	}
	

	.center{
		width:1190px;
		margin:0 auto;
		padding-left:234px;
	}
	.center_son{
		width:940px;
	}

	h2 .newgame{
		font-size:12px;
		float:right;
	}

	.gaintro_bot.center{
		padding:0;
	}

	/*顶部logo中全部链接字体颜色****/
	.top a{
		display:inline-block;
		color:#b8b6b4;
	}
	.top a:hover{
		color:#fff;
	}
	/**************************/

	/*顶部logo行*/
	.top{
		background-color:#171A21;
		height:15%;
	}
	.top .logo{
		padding:0;
		margin-top:30px;
		margin-right:25px;
		float:left;
	}
	.topson:after{
		content:"";
		display:block;
		clear:both;
	}
	/**********************/

	/*商家，社区。。。*/
	.head_fa{
		position:relative;
		float:left;
	}
	.heada{
		margin-top:37px;
		padding:7px;
		position:relative;
	}
	.head_son>li{
		float:left;
	}
	.indexTable{
		width:100%;  
		table-layout:fixed;
		border-collapse:separate;
		border-spacing:50px 10px; 

	}
	.indexTable td{
		width: 100%;
		white-space:nowrap;
		word-break:keep-all;
		overflow: hidden;
		text-overflow:ellipsis;
	}

	.merchant,.community{
		position:absolute;
		padding:5px 15px 10px 15px;
		background-color:#171a21;
		box-shadow:3px 3px 5px -3px #000;
		z-index:40;
	}
	.merchant a,.community a{
		padding:6px 10px 6px 0px;
		font-size:12px;
	}
	.merchant{
		top:67px;
		left:0;
		display:none;
	}
	.community{
		top:67px;
		left:50px;
		display:none;
	}
	/*******************************/
	

	/******登陆，语言*****/
	.login{
		float:right;
		font-size:12px;
		position:relative;
		margin-top:6px;
	}
	.login div{
		position:absolute;
		width:24px;
		height:21px;
		top:0px;
		background-image:url("../img/btn_header_green.png");
		background-repeat: no-repeat;
		background-size:cover;
	}
	.top .install{
		display:inline-block;
		background-color:#698407;
		color:#e5e4dc;
		line-height:21px;
		padding-right:7px;
		padding-left:27px;
	}
	.login span{
		color:#b8b6b4;
	}
	.log1{
		padding:0px 7px;
	}
	.log2{
		padding:2px 17px 2px 7px;
		background-image:url("../img/btn_arrow_down_padded.png");
		background-repeat: no-repeat;
		background-position: 33px 5px
	}
	/******************************/


	/*********设置搜索栏*********/
	/******大盒子样式******/
	.bg{
		width:100%;
		padding-top:5%;
		padding-bottom:5%;
		background-image:url("../img/colored_body_top.png");
		background-size:100% 100%;
	}
	.bgAdmin{
		width:100%;
		padding-top:5%;
		padding-bottom:5%;
		background-image:url("../img/colored_body_top.png");
		background-size:100% 100%;
	}
	.Fatherbox{
		/*padding-left:0;*/
/*		padding-right:15px;
*/		margin-bottom:4%;
		margin-top: 4%;
		position:relative;
	}
	.Fatherbox:after{
		content:"";
		display:block;
		clear:both;
	}
	.grabble{
		margin:0 auto;
		background-color:#377097;
	}
	/*************************************/


	/*****设置标题ul,li样式**************/
	.grabble:after{
		content:"";
		display:block;
		clear:both;
	}
	.grabble_son>li{
		float:left;
		box-shadow:1px 1px 0px rgba();
		border-right:1px solid rgba(16,21,25,0.3);
		position:relative;
		z-index:39;
		cursor:pointer;
	}
	/*标题a标签字体，颜色,移上颜色*/
	.grabble_son>li>a{
		display:block;
		line-height:35px;
		color:#c6d4df;
		font-size:14px;
		text-indent:1em;
		margin:0px 7px 0px 0px;
	}
	.grabble_son>li:hover{
		background-color:#D0DCE5;
		color:#555;
	}
	.grabble_son>li:hover>a{
		color:#555;
	}
	/**************************************/	

	/***设置input框*****/
	.grabble_input{
		width:230px;
		height:27px;
		margin-right:10px;
		margin-top:4px;
		float:right;
		border:1px solid rgba(0,0,0,0.3);
		box-shadow:1px 1px 0px rgba(255,255,255,0.2);
		background-color:#316282;
		background-image:url("../img/search_icon_btn_over.png");
		background-repeat: no-repeat;
		border-radius:2px;
		background-position:203px 0px;
	}
	.grabble_input input{
		height:25px;
		border:0px;
		outline:none;
		background-color:inherit;
		font-size:14px;
		padding-left:15px;
		color:#333;
	}
	/******************************************/

	/*设置您的商店，游戏...下拉选框的小箭头*/
	.merchant_tab,.tab{
		background-image:url("../img/btn_arrow_down_padded_white.png");
		background-repeat: no-repeat;
	}
	.merchant_tab{
		background-position:72px 12px;
	}
	.tab{
		background-position:45px 12px;
	}
	/******************************/

	/*设置下拉背景*/
	.tab_down{
		position:absolute;
		background-color:#C9D6E1;
		box-shadow: 0px 0px 12px #000;
		padding:8px 5px;
	}
	.tab_down li span{
		color:#4f94bc;
	}
	.tab_down .line{
		width:100%;
		padding:0;
		border-top:1px solid #FFF;
		float:left;
		margin:5px 0px;
	}
	/*下拉选项卡的链接颜色，移上颜色*/
	.tab_down a,.tab_down span{
		display:inline-block;
		color:#000;
		padding:5px 12px;
		font-size:12px;
	}
	.tab_down a:hover{
		background-color:#212d3d;
		color:#fff;
	}
	.merchant_tab{
		width:96px;
	}
	.tab{
		width:70px;
	}
	.grabble_son .new_tab{
		width:50px;
		text-align:center;
		text-indent:0px;
	}
	/**************************/

	/*****设置链接宽度，移上显示下拉***************/
	.merchant_tabDown a{
		width:104px;
	}
	.game_tabDown a{
		width:133px;
	}
	.software_tabDown a,.hardware_tabDown a{
		width:115px;
	}
	.video_tabDown a{
		width:96px;
	}
	.merchant_tabDown,.game_tabDown,.software_tabDown,.hardware_tabDown,.video_tabDown{
		display:none;
	}
	.merchant_tabFa:hover .merchant_tabDown{
		display:block;
	}
	.game_tabFa:hover .game_tabDown{
		display:block;
	}
	.software_tabFa:hover .software_tabDown{
		display:block;
	}
	.hardware_tabFa:hover .hardware_tabDown{
		display:block;
	}
	.video_tabFa:hover .video_tabDown{
		display:block;
	}
	/*******************************************************/

	

	/*设置卡片侧边栏****/
	/*卡片a标签颜色总体样式*/
	.steamcards a{
		font-size:13px;
		display:block;
		color:#66c0f4;
		margin:7px 0px;
	}
	/***********************/
	.steamcards{
		position:absolute;
		left:0;
		top:0;
		width:210px;
		color:#c6d4df;
	}
	.steamcard{
		width:210px;
	}
	.card_tab{
		margin-top:5px;
	}
	.card_tab a{
		display:block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.cardtext{
		font-size:12px;
		display:block;
		margin:15px 0px 7px 0px;
	}
	.steamcards a:hover{
		color:#fff;
	}
	/***********************/

	/*****侧边栏小背景图片*******/
	.bgimg{
		display:inline-block;
		width:16px;
		height:16px;
		margin-right:7px;
		margin-top:1px;
		float:left;
		background-image:url("../img/icons.png");
	}
	/*****************************/


	/******设置第一个banner盒子*/
	.firstBanner{
		min-height:380px;
		/*background-color:pink;*/
		margin-top:50px;
		position:relative;
	}
	.bannerFa{
		width:100%;
		position:absolute;
		margin-top:11px;
		box-shadow:0px 0px 7px 0px #000;
		display:none;
	}
	.bannerFa.banFaShow{
		display:block;
	}

	.bannerFa:after{
		content:"";
		display:block;
		clear:both;
	}
	.bannerSon_left{
		float:left;
		min-height:350px;
		width:616px;
		overflow:hidden;
		/*box-shadow:5px 0 10px 1px #000;*/
	}
	.bannerSon_left a{
		display:block;
		width:100%;
		max-height:350px;
		overflow:hidden;
	}
	.bannerSon_left img{
		width:628px;
		/*position:absolute;*/
		/* display:none; */
		margin-left:-10px;
	}
	.bannerSon_left .bannerSon_show{
		display:block;
	}



	.bannerSon_right{
		float:right;
		width:324px;
		min-height:350px;
		background-image:url("../img/background_maincap_2.jpg");
		background-repeat:no-repeat;
		background-size:cover;
	}
	.bannerSon_text{
		color:rgb(255, 255, 255);
		font-size:20px;
		line-height:26px;
		width:314px;
		padding:6px 6px 0px 15px;
		min-height:20px;
		margin-bottom:12px;
	}
	.bannerSon_text span{
		display:block;
		float:left;
		font-size:20px;
		line-height:26px;
		margin-top:10px;
		max-height:52px;
		overflow:hidden;
	}
	.img_fa{
		width:100%;
		padding-left:5px;
	}
	.img_fa:after{
		content:"";
		display:block;
		clear:both;
	}
	.banner1Img{
		float:left;
		position:relative;
		margin-bottom:10px;
	}
	.banner1Img img{
		display:inline-block;
		width:150px;
		margin-right:10px;
	}
	.banner1Img.img2 img{
		margin-right:0;
	}
	.banner1Img.img4 img{
		margin-right:0;
	}
	.cover{
		display:block;
		width:150px;
		height:85px;
		position:absolute;
		top:0;
		z-index:3;
		background-color:#000;
		opacity:0.5;
	}
	.litterimg{
		display:block;
	}
	.cover:hover{
		opacity:0;
	}
	.tuichu{
		color:rgb(221, 216, 216);
		font-size:21px;
		padding-left:15px;
		padding-top:6px;
	}
	.rexiao{
		display:inline-block;
		color:#fff;
		padding:0px 7px;
		background-color:rgba(255,255,255,0.2);
		font-size:12px;
		margin-left:15px;
		margin-top:10px;
	}
	.money{
		color:#fff;
		font-size:12px;
		margin-top:10px;
		margin-left:15px;
		line-height:20px;
	}
	.moneyr{
		float:right;
		display:inline-block;
		width:20px;
		height:20px;
		margin-right:10px;
	}

	/**设置点击箭头******/
	.clickLeft,.clickRight{
		width:45px;
		height:108px;
		position:absolute;
		top:35%;
		cursor:pointer;
	}
	.clickLeft{
		left:-45px;
    	background:linear-gradient(to left,rgba(0,0,0,0) 5%,rgba(0,0,0,0.3) 95%);
	}
	.clickRight{
		right:-48px;
		background:linear-gradient(to right,rgba(0,0,0,0) 5%,rgba(0,0,0,0.3) 95%);
	}
	.clickLeft:hover{
		background:linear-gradient(to right, rgba(171,218,244,0.3) 5%,rgba(171,218,244,0) 95%)
	}
	.clickRight:hover{
		background:linear-gradient(to left, rgba(171,218,244,0.3) 5%,rgba(171,218,244,0) 95%)
	}
	.clickRson,.clickLson{
		width:23px;
		height:36px;
		float:right;
		margin-top:33px;
		margin-right:10px;
		background-image:url("../img/arrows.png");
	}
	.clickLson{
		background-position:-23px;
	}

	/***弹出层*******/
	.popups{
		width:295px;
		background-color:#C9D6E1;
		position:absolute;
		padding:15px;
		left:-300px;
		border-radius:2px;
		z-index:37;
		display:none;
	}
	.xianshi{
		display:block;
	}
	.faxin{
		color:#555;
		margin-bottom:10px;
	}
	.popups h3{
		color:#555;
		font-size:18px;
	}
	.Img{
		position:relative;
		height:146px;
	}
	.Img img{
		width:260px;
		position:absolute;
		display:none;
	}
	.Img .show{
		display:block;
	}
	.pince{
		width:99%;
		background-color:#394148;
		border-radius:2px;
		margin-top:10px;
		padding:3px 0px 3px 10px;
	}
	.pince_p1{
		color:#ccc;
		margin-bottom:3px;
		font-size:12px;
	}
	.pince_p2{
		color:#66c0f4;
		margin-bottom:3px;
		font-size:12px;
	}
	.pince_p2 span{
		color:#ccc;
		margin-left:5px;
	}
	.pince_p2 i{
		font-style:normal;
	}
	.userbq{
		color:#555;
		margin-top:15px;
		font-size:13px;
		margin-bottom:4px;
	}
	.biaoqian{
		width:100%;
	}
	.biaoqian a{
		display:inline-block;
		padding:2px 5px;
		color:#fff;
		background-color:#999;
		font-size:12px;
		border-radius:3px;
		margin:10px 5px 0px 0px;
	}

	/*设置小圆点*****/
	.circle{
		text-align:center;
		margin-top:20px;
	}
	.circle span{
		display:inline-block;
		width:20px;
		height:10px;
		background-color:#496273;
		margin:0px 2px;
		border-radius:2px;
		cursor:pointer;
	}
	.circle .yanse{
		background-color:rgba(255,255,255,0.5);
	}

	/***第二个banner图******/
	.SecBanner{
		height:430px;
		margin-top:50px;
		position:relative;
	}
	.location{
		position:absolute;
		display:none;
	}
	.youhui{
		display:flex;
		justify-content:space-between;
		margin-top:15px;
	}
	.yhSon1,.yhSon2,.yhSon3{
		width:306px;
		height:390px;
		position:relative;
		margin-right:11px;
	}
	.youhui img{
		width:306px;
	}
	.youhuitext{
		width:100%;
		padding:15px 15px;
		background-image:url("../img/liulanback.jpg");
		position:absolute;
		bottom:0px;
	}
	.youhuitext div:after{
		content:"";
		display:block;
		clear:both;
	}
	.youhuitext h2{
		margin:8px 0px;
	}
	.youhuitext p{
		font-size:12px;
		color:#acdbf5;
		margin-bottom:10px;
	}
	.youhuitext span{
		display:inline-block;
		float:left;
	}
	.green{
		background-color:#4c6b22;
		color:#a4d007;
		font-size:26px;
		padding:2px 5px;
	}
	.jiage{
		background-color:rgba(0,0,0,0.6);
		padding:2px 5px;
	}
	.youhuitext em{
		display:block;
		font-style:normal;
		color:#acdbf5;
	}

	.yh div{
		float:left;
	}
	.yh div span{
		display:block;
		float:none;
	}
	.yh div:after{
		content:"";
		display:block;
		clear:both;
	}	
	.yh span{
		float:right;
	}
	.yh{
		width:100%;
		padding:3px;
		background-color:#abdaf4;
	}
	.yh:after{
		content:"";
		display:block;
		clear:both;
	}
	.yh em{
		display:block;
		font-style:normal;
		color:#acdbf5;
	}
	.yh3{
		background-image:url("../img/liulanback.jpg");
		background-position:0px 45px;
	}
	.yh3Son2{
		position:absolute;
		bottom:0;
	}
	.SecBanner{
		position:relative;
	}
	.clickLeft.SecLeft{
		top:37%;
	}
	.yhshow{
		display:block;
	}

	/**优惠弹出框****/
	.popups.yhpopup{
		left:314px;
		top:0;
		display:none;
	}
	.youhui .yhpopup img{
		width:260px;
	}



	.liulan{
		margin-top:50px;
	}
	.liulan_tab{
		display:flex;
		justify-content:space-between;
		margin-top:15px;
	}
	.liulan_tab a{
		display:inline-block;
		width:226px;
		line-height:58px;
		font-size:21px;
		text-align:center;
		color:#66c0f4;
		background-image:url("../img/liulanback.jpg");
		background-position:0px -123px;
		border-radius:2px;
	}
	.liulan_tab a:hover{
		background-position:0px -350px;
		color:#fff;
	}


	/****第三个banner图******/
	.ThiBanner{
		margin-top:60px;
		position:relative;
		min-height:465px;
	}
	.ThiBanner h2{
		margin-bottom:20px;
	}
	.ThiBanner h2 span{
		font-weight:bold;
	}
	.guanzhu{
		padding:15px;
		background:linear-gradient(153deg,rgba(255,255,255,0.2) 5%,rgba(255,255,255,0.1) 95%);
		box-shadow:0px 0px 5px #000;
		position:absolute;
		display:none;
	}
	.ThibanShow{
		display:block;
	}
	.userimg{
		margin-bottom:20px;
	}
	.userimg:after{
		content:"";
		display:block;
		clear:both;
	}
	.userimg img{
		border-radius:3px;
		float:left;
	}
	.userInfo{
		float:left;
		margin-left:15px;
	}
	.usertext{
		color:#c7d5e0;
		font-size:19px;
	}
	.usertext span{
		color:#eff3f6;
	}
	.gzBtn{
		display:inline-block;
		padding:0px 15px;
		color:#D2E885;
		font-size:15px;
		line-height:30px;
		background: linear-gradient( to bottom, #799905 5%, #536904 95%);
		border-radius:2px;
		float:left;
		margin-top:3px;
	}
	.gzBtn:hover{
		background: linear-gradient( to bottom, #b6d908 5%, #80a006 95%);
		color:#fff;
	}
	.usergz{
		font-size:12px;
		float:left;
		padding:0px 15px 0px 1px;
		background-color:rgba(0,0,0,0.2);
	}
	.usergz:after{
		content:"";
		display:block;
		clear:both;
	}
	.usershu{
		float:left;
		color:#c6d4df;
		margin-left:7px;
	}
	.usershu span{
		font-size:15px;
		display:block;
	}
	.recommend{
		display:flex;
		justify-content:space-between;
	}
	.recoson{
		width:224px;
		margin-right:6px;
	}
	.recoson img{
		width:224px;
		box-shadow:0px 0px 5px #000;
	}
	.recoson p{
		color:#66c0f4;
		padding:2px 0px 5px 0px;
	}
	.gametext{
		color:#c6d4df;
		line-height:17px;
		font-size:12px;
		/*padding-right:15px*/;
	}
	.clickRight.ThiLeft,.clickRight.ThiRight{
		top:40%;
	}


	/*****tab选项卡*****/
	.tablist{
		width:100%;
		height: 25%;
		background-color:pink;
		background-image:url("../img/colored_body_top.png");
		background-size:cover;
	}
	.tablist:after{
		content:"";
		display:block;
		clear:both;
	}
	.gameTab{
		height:auto;
	}
	.gameTab:after{
		content:"";
		display:block;
		clear:both;
	}
	.gameTabList{
		background-color:tomato;
		position:relative;
	}
	.tabName{
		position:absolute;
		top:-29px;
	}
	.tabName a{
		display:inline-block;
		padding:0px 10px;
		font-size:14px;
		line-height:29px;
		color:#2f89bc;
		border-radius:3px 3px 0px 0px;
	}
	.tabName a:hover{
		color:#fff;
	}
	.tabName .remen{
		color:#fff;
		background-color:#2a475e;
	}
	.gameList{
		padding-top:20px;
		display:none;
		/*background-color:pink;*/
	}
	.gameList.show{
		display:block;
	}
	.gameList:after{
		content:"";
		display:block;
		clear:both;
	}
	.gameLeft{
		width: 100%;
		float:left;
	}
	.gameRight{
		width:308px;
		float:right;
	}

	/*****设置游戏列表****/
	.gameText{
		padding-left:200px;
		/*float:left;*/
	}
	.game1>a{
		/*float:left;*/
	}
	.game1{
		position:relative;
		background-color:#1F3446;
		margin-bottom:5px;
	}
	.game1:after{
		content:"";
		display:block;
		clear:both;
	}
	.game1 a{
		float:left;
	}
	.gamep1{
		width:80%;
		color:#c7d5e0;
		font-size:1.25em;
		line-height:18px;
		padding-top:5px;
		overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
	}
	.gamediv1 span{
		display:inline-block;
		width:20px;
		height:20px;
		background-image:url("../img/icon_platform_win.png");
	}
	.gamep2{
		color:#384959;
		font-size:12px;
		padding-bottom:3px;
	}
	.game1:hover{
		background: linear-gradient( to right, #c6e6f8 5%,#95bcd3 95%);
		margin-right:-14px;
	}
	.game1:hover .gamep1{
		color:#333;
	}
	.gameTexta{
		position:absolute;
		display:block;
		width:100%;
		height:100%;
		right:0px;
		top:0;
	}
	.gameText_money{
		width:50px;
		height:20px;
		background-color:pink;
		float:left;
	}



	/****设置右边****/
	.gameRight{
		width:308px;
		padding:4px 8px 0px 15px;
		background: linear-gradient( to right, #c6e6f8 5%,#95bcd3 95%);
		display:none;
	}
	.gameRight.show{
		display:block;
	}
	.gameRight h2{
		width:100%;
		color:#263645;
	}
	.gameTabImg{
		width:274px;
		margin-bottom:3px;
	}
	.gameTabImg img{
		width:274px;
	}
	/*.lastgameTabImg.gameTabImg{
		margin-bottom:0px;
	}*/
	.userpin{
		background-color:rgba( 38, 54, 69, 0.6);
		color:#c6d4df;
		font-size:12px;
		padding:3px 7px;
		margin-top:16px;
	}
	.userp_son{
		color:#66C0F4;
	}
	.user_tab{
		padding:5px 0px;
	}
	.user_tab a{
		padding:0px 5px;
		color:#fff;
		background-color:rgba( 38, 54, 69, 0.6);
		border-radius:2px;
		font-size:12px;
	}
	
	/****设置更多****/
	.genduo{
		width:100%;
		background-color:rgba(0,0,0,0.2);
		line-height:32px;
		padding:2px;
		margin-bottom:50px;
		color:#c6d4df;
		font-size:12px;
	}
	.genduo:after{
		content:"";
		display:block;
		clear:both;
	}
	.genduo span{
		float:right;
	}
	.newgame{
		padding:0px 15px;
		line-height:24px;
		display:inline-block;
		color:#fff;
		border:1px solid rgba(255,255,255,0.4);
		border-radius:2px;
	}
	.newgame:hover{
		border:1px solid #fff;
	}
	
	
	/****设置第四个banner*****/
	.diyu{
		margin-bottom:10px;
		margin-top:70px;
	}
	.diyu:after{
		content:"";
		display:block;
		clear:both;
	}
	.diyu span{
		float:left;
		color:#fff;
		font-size:17px;
	}
	.diyu div{
		float:right;
	}
	.Four_fa{
		position:relative;
		box-shadow:0px 0px 5px #000;
		min-height:133px;
	}
	.center:after{
		display:block;
		content:"";
		clear:both;
	}
	.FourthBanner{
		float:right;
		display:none;
		position:absolute;
	}
	.FourthShow{
		display:block;
	}
	.Fbanner_son{
		float:left;
		position:relative;
		margin-right:8px;
	}
	.Fbanner_son:last-child{
		margin-right:0px;
	}
	.Fbanner_son img{
		width:229px;
	}
	.Fsona{
		display:block;
		width:100%;
		padding:5px;
		background: linear-gradient( to right, rgba(56,107,135,1) 5%,rgba(68,130,163,1) 95%);
		bottom:0px;
	}
	.Fsona:after{
		content:"";
		display:block;
		clear:both;
	}
	.Fsona span{
		float:right;
		font-size:12px;
		display:inline-block;
		padding:0px 10px;
		background-color:rgba(20,31,44,0.4);
		color:#acdbf5;
		border-radius:2px;
	}
	.FourLeft,.FourRight{
		top:15%;
	}

	/***设置更新*****/
	.update{
		margin-top:100px;
	}
	.update h2{
		margin-bottom:20px;
	}
	.center_son.update:after{
		content:"";
		display:block;
		clear:both;
	}
	.updateRight{
		width:572px;
		float:right;
		display:flex;
		flex-wrap:wrap;
	}
	.updateLeft{
		/*position:relative;*/
		display:block;
		float:left;
		width:368px;
		background-size:cover;
	}
	.updateLeft div{
		width:368px;
		height:398px;
		background-image:url("../img/Schinese.jpg");
		background-size:cover;
	}
	.updateLeft span{
		display:block;
		width:100%;
		background:linear-gradient( 135deg, rgba(37,49,63,1) 5%,rgba(54,97,125,1) 95%);
		color:#acdbf5;
		bottom:0;
		text-align:right;
		padding:4px;
		font-size:12px;
		line-height:16px;
	}

	.updateRight:after{
		content:"";
		display:block;
		clear:both;
	}
	.updateRight a{
		display:block;
		width:173px;
		height:206px;
		/*float:right;*/
		margin:0px 0px 10px 10px;
		position:relative;
	}
	.updateImg1,.updateImg5,.updateImg2,.updateImg3,.updateImg4{
		background-size:cover;
	}
	.updateImg1{
		background-image:url("../img/Schinese (1).jpg");
	}
	.updateImg2{
		background-image:url("../img/Schinese (2).jpg");
	}
	.updateImg3{
		background-image:url("../img/Schinese (3).jpg");
	}
	.updateImg4{
		background-image:url("../img/Schinese (4).jpg");
	}
	.updateImg5{
		background-image:url("../img/Schinese.jpg");
	}
	.updateRight span{
		position:absolute;
		bottom:0;
		display:block;
		width:100%;
		background:linear-gradient( 135deg, rgba(37,49,63,1) 5%,rgba(54,97,125,1) 95%);
		color:#acdbf5;
		bottom:0;
		text-align:right;
		padding:4px;
		font-size:12px;
		line-height:16px;
	}


	/***设置黑色部分*****/
	.zuce{
		width:100%;
		background-color:#000;
		padding:25px 0px;
		margin-top:30px;
	}
	.center:after{
		content:"";
		display:block;
		clear:both;
	}

	.bottomline{
		width:100%;
		text-align:center;
		background-image:url("../img/line.png");
		background-repeat:repeat-x;
	}
	.bottomline span{
		color:#67c1f5;
		font-size:24px;
		background-color:#000;
		padding:0px 10px;
	}

	.denglu{
		padding:16px 16px 10px 16px;
		font-size:15px;
		color:#8f98a0;
		text-align:center;
		width:100%;
	}
	.login_son{
		padding:0px 16px;
		color:#D2E885;
		background: linear-gradient( to bottom, #799905 5%, #536904 95%);
		line-height:30px;
		display:inline-block;
		border:1px solid #172030;
		border-radius:2px;
		margin-top:15px;
		margin-bottom:20px;
	}
	.login_son:hover{
		color:#fff;
		background: linear-gradient( to bottom, #b6d908 5%, #80a006 95%);
	}
	.denglu p a{
		color:#fff;
	}
	.denglu p a:hover{
		color:#66c0f4;
	}


	/**版权信息****/
	.copyright{
		padding-left:234px;
	}
	.copyright{
		content:"";
		display:block;
		clear:both;
	}
	.bottomlog{
		padding:20px 0px 60px 0px;
	}
	.bottomlog div:after{
		content:"";
		display:block;
		clear:both;
	}
	.logimg,.botlogText{
		float:left;
	}
	.logimg{
		margin-top:5px;
	}
	.botlogText{
		color:#8F98A0;
		font-size:12px;
		margin-left:15px;
	}
	.botlogText a{
		color:#c6d4df;
	}
	.botlogText a:hover{
		color:#fff;
	}
	.logimg1{
		float:right;
		padding-right: 10px;
	}
	.youlian{
		color:#c6d4df;
		font-size:13px;
		margin-top:20px;
	}
	.youlian a{
		color:#c6d4df;
		font-size:13px;
	}
	.youlian a:hover{
		color:#fff;
	}
	.facebook,.twiter{
		padding-left:17px;
		background-repeat: no-repeat;
		background-position: px 2px;
	}
	.facebook{
		background-image:url("../img/ico_facebook.gif");
	}
	.twiter{
		background-image:url("../img/ico_twitter.gif");
	}


	/**********************游戏详情页***************/
	.top.gaintro_top{
		padding-left:0;
	}
	.center_son.gintro_bottom{
		margin:0 auto;
	}
	.center_son.gaintro_topson{
		margin:0 auto;
	}
	.Fatherbox.gaintro_father{
		padding-left:0;
	}

	.bg.gameintro{
		padding-top:4%;
		padding-bottom:6%;
	}
	.gameintro .Fatherbox{
		margin-bottom:0px;
	}
	.shequ_fa{
		margin:20px auto 0px auto;
	}
	.shequ_fa:after{
		content:"";
		display:block;
		clear:both;
	}.shequ_a1{
		color:#8f98a0;
	}
	.shequ_a1 a{
		color:#8f98a0;
		font-size:12px;
	}
	.shequ_a1 a:hover{
		color:#fff;
	}
	.shequ_fa h2{
		font-size:24px;
		float:left;
	}
	.shequ a{
		display:inline-block;
		padding:0px 16px;
		background: rgba( 103, 193, 245, 0.2 );
		line-height:30px;
		color:#67c1f5;
		border-radius:2px;
		float:right;
	}
	.shequ a:hover{
		color:#fff;
		background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
	}

	/******************video*******/
	.gameVleft{
		width:600px;
	}
	.gameVideo{
		margin:15px auto 0 auto;
		margin-top:20px;
	}
	.gameVideo:after{
		content:"";
		display:block;
		clear:both;
	}
	.gameVleft{
		float:left;
	}
	.Video img{
		width:100%;
	}

	.video_img_fa{
		width:100%;
		overflow:hidden;
	}

	.video_img{
		width:10000px;

	}
	.video_img:after{
		content:"";
		display:block;
		clear:both;
	}
	.video_img img{
		width:112px;
		height:62px;
		cursor:pointer;
	}
	.video_img div{
		float:left;
		width:116px;
		height:77px;
		position:relative;
		padding-top:13px;
		padding-left:2px;
		padding-right:3px;
		padding-bottom:10px;
		margin-right:4px;
	}
	.whiteSide{
		background-image:url("../img/whiteside.png");
	}
	/***设置滚动条*****/
	.gundong{
		position:relative;
		height:18px;
		margin-top:5px;
	}
	.gdcenter_fa{
		height:18px;
		position:absolute;
		left:38px;
		right:38px;
		top:0;
		bottom:0;
		background-color:rgba( 0, 0, 0, 0.2 );
		border-radius:3px;
	}
	.gdleft,.gdright{
		text-align:center;
		position:absolute;
		width:38px;
		height:100%;
		background-color: rgba( 35, 60, 81, 0.4 );
		border-radius:2px;
		cursor:pointer;
		z-index:5;
	}
	.gdleft:hover,.gdright:hover,.gdcenter:hover{
		background: linear-gradient(135deg, #3d6c8d 0%,#2e5470 100%);
	}
	.gdleft{
		top:0;
		left:0;
	}
	.gdright{
		top:0;
		right:0;
	}
	.gdleft span,.gdright span{
		display:inline-block;
		width:9px;
		height:7px;
		background-image:url("../img/icon_cluster_controls.png");
	}
	.gdleft span{
		background-position:-18px 0px;
		background-repeat: no-repeat;
	}
	.gdleft:hover span{
		background-position:-18px -7px;
	}
	.gdright span{
		background-position:-9px 0px;
		background-repeat: no-repeat;
	}
	.gdright:hover span{
		background-position:-9px -7px;
	}
	.gdcenter{
		width:60px;
		height:100%;
		border-radius:2px;
		background-color: rgba( 35, 60, 81, 0.4 );
		cursor:pointer;
	}


	.gameVright{
		float:right;
		width:324px;
		height:400px;
	}
	.gameVright img{
		width:100%;
		height:151px;
	}
	.civtext{
		color:#c6d4df;
		max-height:116px;
		font-size:13px;
		line-height:18px;
		padding-right:16px;
		margin-top:8px;
	}
	.pinj_fa{
		color:#556772;
		font-size:12px;
		margin-top:10px;
	}
	.setwidth{
		overflow:hidden;
		display:inline-block;
		width:100px;
	}
	.goodP{
		color:#67c1f5;
	}
	.good,.all{
		cursor:pointer;
		position:relative;
	}
	.faxinshang{
		margin-top:9px;
		margin-bottom:13px;
	}
	.shangjia:hover{
		color:#fff;
	}

	.civBQ{
		margin-top:10px;
	}
	.civBQ p{
		margin-bottom:5px;
	}
	.civBQ a{
		display:inline-block;
		padding:0px 7px;
		line-height:19px;
		color:#67c1f5;
		border-radius:2px;
		background-color: rgba( 103, 193, 245, 0.2 );
	}
	.civBQ a:hover{
		background-color:#67c1f5;
		color:#FFF;
	}
	.goodtanchu{
		padding:5px;
		background-color:#c2c2c2;
		color:#3d3d3f;
		position:absolute;
		max-width:225px;
		box-shadow:0px 0px 3px #000;
		border-radius:2px;
		z-index:2;
		top:-53px;
		left:0px;
		opacity:0;
		transition:0.5s;
	}
	.good:hover .goodtanchu,.all:hover .goodtanchu{
		opacity:1;
	}


	/****添加至愿望****/
	.yw_fa{
		background-image:url("../img/colored_body_top.png");
		background-size:cover;
	}
	.yuanwang{
		padding-left:0;
	}
	.yuanwang:after{
		content:"";
		display:block;
		clear:both;
	}
	.ywtext{
		margin:0 auto;
		height:50px;
		background: rgba( 0, 0, 0, 0.2 );
		font-size:12px;
		color:#c6d4df;
		padding:16px;
	}
	.ywtext a{
		color:#fff;
	}
	.ywtext a:hover{
		color:#66C0F4;
	}


	/***设置抢先体验游戏*****/
	.allchanpin{
		margin:30px auto 0px auto;
	}
	.allchanpin:after{
		content:"";
		display:block;
		clear:both;
	}
	.allleft{
		float:left;
		width:616px;
		color:#8f98a0;
	}
	.allright{
		width:308px;
		float:right;
	}
	.allleft h2{
		background-image:url("../img/maincol_gradient_rule.png");
		background-repeat: no-repeat;
		background-position:bottom left;
		background-size:100%;
		margin-bottom:15px;
		padding:0px 0px 2px 0px;
	}
	.tiyan{
		width:614px;
		padding:15px;
		background: linear-gradient(135deg, rgba(87,164,208,1) 0%,rgba(48,93,122,1) 100%);
	}
	.typ1{
		color:#fff;
		font-size:15px;
		margin:5px 0px 10px 0px;
	}
	.typ2{
		color:#b8e0fd;
		font-size:13px;
		line-height:15px;
	}
	.typ2 span{
		color:#f9be3e;
	}
	.typ2 a{
		color:#b8e0fd;
		text-decoration:underline;
	}

	/**设置开发者的话****/
	.kaifasay{
		padding:15px;
	}
	.allleft_son{
		max-height:276px;
		overflow:hidden;
		border:1px solid #4e81ae;
	}
	.allleft_son.allleft_son_height{
		max-height:100%;
	}
	.kf_son{
		font-size:13px;
	}
	.kf_son1{
		color:#fff;
		font-size:14px;
		font-style:italic;
		margin-top:15px;
		line-height:21px;
	}
	.kf_son2{
		position:relative;
		font-style:italic;
	}
	.kf_son2 li{
		list-style:inside;
	}
	.kf_sonMarg{
		margin-top:20px;
	}
	.kf_son1Color{
		color:inherit;
	}
	.kfliaojie{
		display:inline-block;
		position:absolute;
		bottom:0px;
		right:0;
		padding:0px 15px;
		font-size:12px;
		color:#66c0f4;
		background: linear-gradient(to right, rgba(27,40,56,0) 0%,rgba(27,40,56,1) 15%,rgba(27,40,56,1) 100%);
	}


	/***设置购买栏*****/
	.buy {
		margin-top:100px;
		/* padding:16px 16px 26px 16px; */
		position:relative;
	}
	.buy h1{
		font-size:20px;
	}
	.buyindex {
		margin-top:0px;
		/* padding:16px 16px 26px 16px; */
		position:relative;
	}
	.buyindex h1{
		font-size:20px;
	}
	.icon{
		position:absolute;
		top:20px;
		right:10px;
	}
	.icon span{
		display:inline-block;
		width:20px;
		height:20px;
		background-color:pink;
	}
	.tianjia{
		position:absolute;
		width:177px;
		background-color:rgb(204, 195, 195);
		padding:2px 2px 2px 12px;
		border-radius:2px;
		bottom:-15px;
		right:10px;
	}
	.tianjiaindex{
		position:absolute;
		background-color:rgb(204, 195, 195);
		border-radius:2px;
		bottom: 15px;
		right:10px;
	}
	.tianjia:after{
		content:"";
		display:block;
		clear:both;
	}
	.tianjia span{
		line-height:30px;
	}
	.tianjia1{
		float:right;
		display:inline-block;
		font-size:15px;
		color:#fff;
		background: linear-gradient( to bottom, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%);
		border-radius:2px;
		padding:0px 16px;
		line-height:30px;
	}
	.tianjia1index{
		float :right;
		display:inline-block;
		font-size:15px;
		color:#fff;
		background: linear-gradient( to bottom, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%);
		border-radius:2px;
		padding:0px 16px;
		line-height:30px;
	}
	.tianjia1:hover{
		color:#fff;
		background: linear-gradient( to bottom, rgba(164,208,7,1) 5%, rgba(107,135,5,1) 95%);
	}
	.tianjia1shoppingcar{
		float:right;
		display:inline-block;
		font-size:15px;
		color:#fff;
		background: linear-gradient( to bottom, rgba(121,153,5,1) 5%, rgba(83,105,4,1) 95%);
		border-radius:2px;
		padding:0px 16px;
		line-height:30px;
	}
	.tianjia1shoppingcar:hover{
		color:#fff;
		background: linear-gradient( to bottom, rgba(164,208,7,1) 5%, rgba(107,135,5,1) 95%);
	}
	.tianjiaindex span{
		padding-right: 5px;
		line-height:30px;
	}
	/***设置最新更新******/
	.newUpdate{
		margin-top:50px;
	}
	.newLook{
		font-size:12px;
		color:#66C0F4;
		padding:2px 4px;
		background-color: rgba( 103, 193, 245, 0.2 );
		border-radius:2px;
		float:right;
	}
	.newLook:hover{
		background: linear-gradient(135deg, #67c1f5 0%,#417a9b 100%);
		color:#FFF;
	}
	.newnow{
		display:flex;
		justify-content:space-between;
	}
	.newnow h1{
		font-size:24px;
		line-height:29px;
	}
	.newnow h1 a{
		color:#fff;
	}
	.newnow_left,.newnow_right{
		width:290px;
	}
	.newnow_Lson,.newnow_Rson{
		height:195px;
		overflow:hidden;
	}
	.newnow_left img,.newnow_right img{
		width:290px;
	}
	.newnowLine{
		height:1px;
		background-color:#2f4459;
		margin:5px 0px;
	}
	.more:after{
		content:"";
		display:block;
		clear:both;
	}
	.more a{
		float:left;
		color:#66c0f4;
		font-size:12px;
	}
	.more a:hover{
		color:#FFF;
	}
	.more span{
		float:right;
		font-size:12px;
	}

	/***设置讨论*****/
	.talk{
		height:49px;
		position:relative;
		padding:12px 15px 0px 55px;
		margin:15px 0 40px 0;
		background: linear-gradient(135deg, rgba(68,75,84,1) 0%,rgba(91,98,108,1) 100%);
		box-sizing:initial;
	}
	.talk:after{
		content:"";
		display:block;
		clear:both;
	}
	.talkImg{
		position:absolute;
		left:0;
		top:0;
		width:63px;
		height:61px;
		background-image:url("../img/earlyaccess_bug.png");
	}
	.talk p{
		width:350px;
		color:#FFF;
		font-size:15px;
	}
	.talk a{
		display:block;
		color:#67c1f5;
		background-color:#174661;
		padding:0px 16px;
		line-height:30px;
		border-radius:4px;
		font-size:15px;
		border:2px solid #000;
		float:right;
	}
	.talk a:hover{
		background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
		color:#fff;
	}

	/***设置评测***/
	.evaluating{
		font-size:12px;
		overflow:hidden;
	}
	.evaluating p{
		margin-bottom:25px;
	}
	.evaluating a{
		color:#FFF;
	}
	.evaluating a:hover{
		color:#66c0f4;
	}

	/***设置关于游戏****/
	.aboutgame{
		margin-top:30px;
		font-size:14px;
	}
	.aboutgame img{
		margin:25px 0px 15px 0px;
	}
	.ag_color{
		color:#2f89bc;
		font-size:15px;
		margin-top:28px;
	}
	.aboutgame li{
		list-style:inside;
		list-style-type: square;
		margin-bottom:8px;
	}
	.zuhe_fa{
		height:73px;
		background-image:url("../img/zuhe.png");
		background-repeat:repeat-x;
		position:relative;
		z-index:1;
		overflow:hidden;
		line-height:1.5em;
	}
	.zuhe_redio{
		display:inline-block;
		color:#537ca6;
		font-size:12px;
		position:absolute;
		line-height:20px;
		right:0;
		bottom:2px;
		padding-right:10px;
		background-image:url("../img/down.png");
		background-position:center right;
		background-repeat: no-repeat;
		cursor:pointer;
	}
	.zuhe_redio:hover{
		color:#FFf;
	}

	/***设置系统需求***/
	.need{
		margin-top:25px;
	}
	.need h2{
		margin-bottom:0px;
	}
	.need_tab{
		padding-top:8px;
		padding-left:5px;
		background: linear-gradient( to right, rgba(58,110,139,0.2) 0%,rgba(58,110,139,0) 100%);
	}
	.need_tab a{
		display:inline-block;
		padding:0px 10px;
		line-height:20px;
		font-size:12px;
		color:#3b6e8c;
	}
	.need_tab .show{
		color:#67c1f5;
		background-color:#18222e;
	}
	.need_tab .show:hover{
		color:#67c1f5;
	}
	.need_tab a:hover{
		color:#FFF;
	}
	.need_tab .need_a{
		background-color:#18222e;
		color:#67c1f5;
	}
	.need_ul{
		font-size:12px;
		display:none;
	}
	.need_ul.show{
		display:block;
	}
	.need_ul li{
		line-height:18px;
		margin:2px 0;
	}
	.need_ul .ag_color{
		font-size:12px;
		margin-top:20px;
	}

	/***设置相似产品***/
	.likeness{
		margin-top:30px;
	}
	.likeImg{
		display:flex;
		justify-content:space-between;
		overflow:hidden;
	}
	.likeImg:after{
		content:"";
		display:block;
		clear:both;
	}
	.likeImg a{
		display:block;
		float:left;
		padding:15px;
		height:100px;
		box-sizing:initial;
		background-color:rgba(0,0,0,0.2);
		border:1px solid rgba(0,0,0,0);
		margin-right:3px;
	}
	.likeImg a:hover{
		border: 1px solid rgba( 103, 193, 245, 0.5 );
	}
	.likeImg img{
		width:171px;
	}
	.like_p{
		color:#8f98a0;
		font-size:13px;
	}
	.like_money span{
		color:#66c0f4;
	}

	/***设置用户评价****/
	.appraise{
		width:100%;
		border-top:1px solid #000;
		margin-top:20px;
	}
	.appraise_fa{
		padding-left:0;
		/*padding-right:15px*/;
	}
	.appraise_son{
		margin:0 auto;
		padding-top:50px;
	}
	.consumer{
		color:#8ba6b6;
		font-size:12px;
		box-shadow:0px 0px 5px #000;
		margin-top:5px;
	}
	.consumer:after{
		content:"";
		display:block;
		clear:both;
	}
	.consumer_left,.consumer_right{
		padding:10px;
		border-bottom:1px solid #000;
	}
	.consumer_left{
		width:605px;
		padding:10px;
		float:left;
	}
	.consumer img{
		display:inline-block;
		margin-left:5px;
		position:relative;
		top:2px;
	}
	.consumer_p{
		font-size:15px;
		color:#FFF;
	}
	.consumer_span{
		font-size:17px;
		color:#66c0f4;
		font-weight:bold;
	}
	.consumer_right{
		width:335px;
		padding:10px;
		float:left;
	}

	/***设置评测下拉*****/
	.cunsumer_tab{
		color:#4582a5;
		background-color:#1f2f42;
		font-size:12px;
		position:relative;
		margin-bottom:30px;
	}
	.cunsumer_tab:after{
		content:"";
		display:block;
		clear:both;
	}
	.cunsumer_ul{
		float:left;
	}
	.cunsumer_ul>li{
		float:left;
		padding-right:10px;
		border-left:1px solid #2a475e;
		cursor:pointer;
		position:relative;
	}
	.bgshow,.bgnone{
		display:inline-block;
		box-sizing:initial;
		padding:10px 20px 10px 10px;
		background-image:url("../img/bluedown.png");
		background-repeat: no-repeat;
		background-position:center right;
	}
	.bgnone{
		background-image:none;
		padding-right:10px;
	}
	.cunsumer_ul>li:hover{
		background-color:#c6d4df;
	}
	.cunsumer_ul .hoverbg_none:hover{
		background-color:inherit;
		cursor:initial;
	}
	.cunsumer_ul>li:hover .bgshow{
		background-image:url("../img/black.png");
	}
	.cunsumer_ul .hoverbg_none:hover .bgshow{
		background-image:none;
	}
	.cunsumer_ul select{
		width:100px;
		background-color:#4582a5;
		font-size:12px;
		border-radius:2px;
		border:none;
	}
	.bgshow span{
		color:#000;
		background-color:#a3cf06;
		padding:0px 2px;
		border-radius:2px;
		margin-left:5px;
	}
	.chart{
		float:right;
		line-height:20px;
		cursor:pointer;
		padding:2px 5px;
		border-radius:2px;
		color:#67c1f5;
		background: rgba( 103, 193, 245, 0.2 );
	}
	.chart:hover{
		background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
		color:#fff;
	}
	.chart i{
		display:inline-block;
		float:right;
		width:14px;
		height:16px;
		background-image:url("../img/review_graph_expander.png");
		background-repeat: no-repeat;
		background-position:0px -12px;
		margin:3px 0px 0px 3px;
	}

	/***设置测评下拉*****/
	.bgshow_son{
		position:absolute;
		color:#556772;
		background-color:#c6d4df;
		font-size:12px;
		padding:10px;
		white-space:nowrap;
		display:none;
	}
	.bgshow_son div{
		position:relative;
	}
	.bgshow_son input{
		position:relative;
		top:2px;
	}
	.bgshow_son li{
		/*width:100%;*/
		line-height:20px;
	}
	.bgshow_son span{
		color:#7193a6;
	}
	.cunsumer_ul:after{
		content:"";
		display:block;
		clear:both;
	}
	.cunsumer_ul>li:hover div{
		display:block;
	}
	.bgshow_text{
		width:150px;
		white-space: normal;
		border-bottom:1px solid #4582a5;
		margin-bottom:10px;
		padding-bottom:10px;
	}
	.text_chart{
		display:inline-block;
		color:#A4D7F5;
		padding:0px 6px;
		background: linear-gradient( to bottom, rgba(47,137,188,1) 5%, rgba(23,67,92,1) 95%);
		line-height:20px;
		font-size:12px;
		border-radius:2px;
	}
	.text_chart:hover{
		color:#FFF;
		background: linear-gradient( to bottom, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);
	}

	/****设置相匹配条件****/
	.cunsumer_match{
		padding-bottom:20px;
		border-bottom:1px solid #000;
	}
	.cunsumer_maText{
		font-size:15px;
		color:#c6d4df;
	}
	.cunsumer_maText .goodP{
		font-weight:bold;
	}

	/***用户评价栏*****/
	.user_evaluate{
		margin-top:20px;
	}
	.user_evaluate:after{
		content:"";
		display:block;
		clear:both;
	}
	.allleft .count,.allright .count{
		margin-bottom:0;
		font-size:14px;
	}
	.count p{
		color:#c6d4df;
	}
	.count span{
		color:#56707f;
	}

	.user_comment{
		display:flex;
		justify-content:space-between;
		background-color: rgba( 0, 0, 0, 0.2 );
		margin-bottom:20px;
	}
	.user_commLeft{
		width:200px;
		padding:8px;
	}
	.user_commRight{
		width:400px;
		color:#8091a2;
	}
	.user_commLeft:after,.user_commRight:after{
		content:"";
		display:block;
		clear:both;
	}
	.userImg{
		float:left;
		display:inline-block;
		padding:1px;
		margin-right:15px;
		background: linear-gradient( to bottom, rgba(143,185,59,1) 5%, rgba(110,140,49,1) 95%);
	}
	.userImg img{
		padding:1px;
	}
	.zezhao{
		display:block;

		opacity:0.6;
	}
	.user_comment:hover .zezhao{
		cursor:pointer;
		opacity:1;
	}
	.user_text a{
		font-size:12px;
		color:#c1dbf4;
	}
	.user_text a:hover{
		color:#66c0f4;
	}

	.suggest,.suggest_right{
		margin:8px 0px 13px 0px;
		display:block;
		background: rgba( 0, 0, 0, 0.2 );
		color:#8091a2;
	}
	.suggest:hover,.suggest_right:hover{
		background: rgba( 255, 255, 255, 0.1 );
	}
	.thumb,.thumb_right{
		width:100%;
		font-size:12px;
	}
	.thumb:after,.thumb:after{
		content:"";
		display:block;
		clear:both;
	}
	.thumb img,.thumb_right img{
		float:left;
		margin-right:15px;
	}
	.thumb_right img{
		width:24px;
	}
	.thumb .thumb_logo,.thumb_right .thumb_logo{
		float:right;
		margin-right:5px;
		margin-top:12px;
		opacity:0.5;
	}
	.thumb_right .thumb_logo{
		width:initial;
		margin-right:5px;
		margin-top:4px;
	}
	.thumb div,.thumb_right div{
		line-height:20px;
	}
	.thumb_right div{
		height:24px;
	}
	.thumb_right div span{
		margin-left:30px;
	}
	.thumb_box1{
		color:#fff;
		font-size:15px;
	}

	.forestall{
		font-size:12px;
		margin-bottom:10px;
	}
	.forestall span{
		padding:1px 4px 0px 4px;
		border:1px solid #779abc;
		/* cursor:; */
		line-height:13px;
		font-size:12px;
		background-color:#4d6c8b;
		color:#9ac7f3;
		margin-right:15px;
	}
	.hand_game,.hand_game1{
		color:#acb2b8;
		font-size:13px;
		padding:0px 0px 17px 0px;
		border-bottom:1px solid #363f4c;
		margin-bottom:10px;
	}
	.user_commR_son{
		padding:0px 0px 10px 10px;
	}
	.hand_game1{
		border-bottom:1px solid rgba(0,0,0,0.5);
	}

	.grade{
		color:#8091a2;
		font-size:12px;
	}
	.grade a{
		font-size:13px;
		color:#66c0f4;
		padding:0px 6px 0px 6px;
		background-color:#212c3d;
		line-height:20px;
		border-radius:2px;
		display:inline-block;
	}
	.grade i{
		display:inline-block;
		width:16px;
		height:16px;
		position:relative;
		top:3px;
		left:-2px;
	}
	.grade_a1 i,.grade_a2 i,.grade_a3 i{
		background-image:url("../img/icons_16.png");
	}
	.grade_a1 i{
		background-position:-112px -16px;
	}
	.grade_a1:hover i{
		background-position:-144px -16px;
	}
	.grade_a2 i{
		background-position:-64px -16px;
	}
	.grade_a2:hover i{
		background-position:-80px -16px;
	}
	.grade_a3 i{
		background-position:-208px -16px;
	}
	.grade_a3:hover i{
		background-position:-224px -16px;
	}
	.grade a:hover{
		background-color:#66c0f4;
		color:#fff;
	}
	.grade2{
		line-height:17px;
		padding:0px 9px 8px 0px;
		font-size:12px;
		margin-top:10px;
	}
	.grade2_son{
		float:right;
	}
	.grade2_son a{
		line-height:20px;
		color:#66c0f4;
		font-size:12px;
		padding-right:20px;
		background-image:url("../img/bluesay.png");
		background-repeat:no-repeat;
		background-position:right;
	}
	.grade2_son a:hover{
		color:#FFF;
		background-image:url("../img/graysay.png")
	}


	/***设置登录页面******/
	.logIn{
		margin-top:20px;
		margin:20px auto 0 auto;
		background: url("../img/cluster_bg_2.png");
		background-repeat: no-repeat;
		background-position:bottom center;
		padding-bottom:20px;
		color:#c6d4df;
		font-size:12px;
	}
	.logInAdmin{
		margin-top:20px;
		margin:20px auto 0 auto;
		background-repeat: no-repeat;
		background-position:bottom center;
		padding-bottom:20px;
		color:#c6d4df;
		font-size:12px;
	}
	.logIn h2{
		color:#67c1f5;
		line-height:30px;
	}
	.logIn .logP1{
		margin-bottom:10px;
	}
	.logIn:after{
		content:"";
		display:block;
		clear:both;
	}
		/***设置注册页面******/
		.signup{
			margin-top:20px;
			margin:20px auto 0 auto;
			background-repeat: no-repeat;
			background-position:bottom center;
			padding-bottom:20px;
			color:#c6d4df;
			font-size:12px;
		}
		.signup h2{
			color:#67c1f5;
			line-height:30px;
		}
		.signup .logP1{
			margin-bottom:10px;
		}
		.signup a{
			color:#fff;
			font-size:16px;
		}
		.signup:after{
			content:"";
			display:block;
			clear:both;
		}
	
	.logL_fa{
		float:left;
	}
	.logLeft{
		min-height:384px;
		width:616px;
		padding:15px;
		background-color: rgba(0,0,0,0.2);
	}
	.logContent{
		min-height:250px;
		width:616px;
		padding:15px;
		background-color: rgba(0,0,0,0.2);
	}
	.product{
		min-height:250px;
		width:616px;
		padding:15px;
		background-color: rgba(0,0,0,0.2);
	}
	.product:after{
		content:"";
		display:block;
		clear:both;
	}
	.changeBtn{
		margin-top: 10%;
		margin-left: 30%;
		width: 100px;
		display:inline-block;
		padding:0px 16px;
		color:#67c1f5;
		cursor:pointer;
		border-radius:2px;
		background: rgba( 103, 193, 245, 0.2 );
		line-height:30px;
		border:0;
		font-size:15px;
	}
	.product input{
		width: 200px;
		color:#fff;
		height:30px;
		border:1px solid #000;
		margin-top: 8px;
		border-radius:2px;
		background-color:rgba(0,0,0,0.2);
		box-shadow:1px 1px 0px #45556c;

	}

	.systemContent{
		min-height:250px;
		min-width:900px;
		margin-left: -100px;
		padding:15px;
		background-color: rgba(0,0,0,0.2);
	}
	.systemContent:after{
		content:"";
		display:block;
		clear:both;
	}
	.shoppingcontent{
		min-height:200px;
		width:616px;
		padding:15px;
		background-color: rgba(0,0,0,0.2);
	}
	.logLeft:after{
		content:"";
		display:block;
		clear:both;
	}
	.logContent:after{
		content:"";
		display:block;
		clear:both;
	}
	.logLeft_son1,.logLeft_son3,.logLeft_son2{
		width:290px;
		float:left;
	}
	.logLeft_son2{
		width:3px;
		height:210px;
		border-left:1px solid #38444e;
	}
	.logLeft_son3{
		padding-left:15px;
	}
	.logLeft_son{
		margin-bottom:18px;
	}
	.logLeft_son input{
		padding-left:10px;
		color:#fff;
		font-size:17px;
		width:274px;
		height:30px;
		margin:4px 0px;
		border:1px solid #000;
		border-radius:2px;
		background-color:rgba(0,0,0,0.2);
		box-shadow:1px 1px 0px #45556c;
	}


	/***设置对游戏感兴趣吗？***/
	.allright{
		color:#8f98a0;
	}
	.interest h2{
		padding:10px 18px;
		background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
	}
	.interest_text{
		font-size:14px;
		padding:16px;
		margin-bottom:10px;
		background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
	}
	.int_text_p{
		color:#acb2b8;
		line-height:20px;
		margin-bottom:20px;
	}
	.int_textSp{
		margin:0px 2px;
	}

	/**设置兴趣下tab栏***/
	.interest_chart_son a{
		padding-left:4px;
		margin-left:35px;
		line-height:26px;
		display:block;
		color:#67c1f5;
		font-size:12px;
		background: rgba( 103, 193, 245, 0.1 );
		box-sizing:border-box;
	}
	.interest_chart_son a:hover{
		background: linear-gradient(135deg, #67c1f5 0%,#417a9b 100%);
		color:#fff;
	}
	.interest_chart_son{
		position:relative;
		margin-bottom:2px;
	}
	.interest_chart_son i{
		box-sizing:initial;
		display:inline-block;
		position:absolute;	
		width:30px;
		height:22px;
		padding-top:4px;
		padding-left:6px;
		background-color:rgba(0,0,0,0.2);
	}
	.interest_chart_son i img{
		width:26px;
		display:inline-block;
		float:left;
	}

	/**设置语言栏***/
	.language_fa{
		font-size:12px;
	}
	.language_fa td{
		padding:3px 0px 3px 0px;
	}
	tr{
		border-bottom:1px solid #000;
	}
	.language_th1{
		width:93px;
	}
	.language_th2{
		width:61px;
	}
	.language_td1{
		text-align:center;
	}
	.language_td1 img{
		display:inline-block;
	}
	.language_fa a{
		color:#66c0f4;
	}
	.language_fa a:hover{
		color:#fff;
	}

	/***成就***/
	.chengjiu{
		font-size:12px;
	}
	.chengjiu_list{
		margin-top:10px;
	}
	.chengjiu:after{
		content:"";
		display:block;
		clear:both;
	}
	.chengjiu_list a:first-child{
		margin-left:0px;
	}
	.chengjiu_list a{
		float:left;
		margin-left:4px;
	}
	.chengjiu_all{
		display:inline-block;
		width:64px;
		height:50px;
		background-color: rgba( 103, 193, 245, 0.2 );
		color:#67c1f5;
		padding-top:14px;
		box-sizing:initial;
		text-align:center;
		font-size:13px;
	}
	.chengjiu_all:hover{
		background: linear-gradient(135deg, #67c1f5 0%,#417a9b 100%);
		color:#FFF;
	}

	/***游戏发行商****/
	.gameurl{
		font-size:12px;
	}
	.gameurl_son{
		margin-top:10px;
	}
	.gameurl_son img{
		position:relative;
		top:-2px;
		left:5px;
	}
	.gameurl p a{
		color:#fff;
	}
	.gameurl p a:hover{
		color:#66c0f4;
	}
	.gameurl_son a{
		background: rgba( 103, 193, 245, 0.1 );
		margin-bottom:2px;
		color:#66c0f4;
		font-size:12px;
		display:block;
		line-height:17px;
		padding:4px 0px 4px 8px;
	}
	.gameurl_son a:hover{
		background: linear-gradient(135deg, #67c1f5 0%,#417a9b 100%);
		color:#fff;
	}
	/***分享嵌入***/
	.interest_text .logBtn i{
		display:inline-block;
		width:16px;
		height:16px;
		background-image:url("../img/icons_16.png")
		/* background-position:; */
	}



	/***按钮****/
	.btn_fa{
		width:100%;
		float:left;
	}
	.logBtnL,.logBtnR{
		width:290px;
		float:left;
	}
	.logBtnR{
		padding-left:15px;
	}
	.logBtn{
		display:inline-block;
		padding:0px 16px;
		color:#67c1f5;
		cursor:pointer;
		border-radius:2px;
		background: rgba( 103, 193, 245, 0.2 );
		line-height:30px;
		border:0;
		font-size:15px;
	}
	.logBtn:hover{
	    background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
	    color:#fff;
	}
	.signupBtn{
		display:inline-block;
		padding:0px 16px;
		color:#67c1f5;
		cursor:pointer;
		border-radius:2px;
		background: rgba( 103, 193, 245, 0.2 );
		line-height:30px;
		border:0;
		font-size:15px;
	}
	.signupBtn:hover{
	    background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
	    color:#fff;
	}

	.logR_fa{
		float:right;
	}
	.logRight{
		width:308px;
		padding:15px 15px 0px 15px;
		min-height:384px;
		background-color: rgba(0,0,0,0.2);
		/*background-color:tomato;*/
	}
	.logRight:after{
		content:"";
		display:block;
		clear:both;
	}
	.logRight ul{
		margin-bottom:10px;
	}
	.logRight li{
		list-style:inside;
		list-style-type: square;
		line-height:22px;
	}
	.logBotom{
		width:100%;
		height:50px;
		float:right;
	}
	.loga{
		margin-top:20px;
	}
	.loga a{
		color:#fff;
		font-size:12px;
	}
	.loga a:hover{
		color:#66C0F4;
	}



	/**数据请求新添样式****/
	.gray_green{
		font-size:12px;
		color:#a4d007;
		background-color:#4c6b22;
		padding:1px 3px;
	}
	.money.gray{
		background-color:rgba(0,0,0,0.2);
		display:inline-block;
		float:left;
		line-height:20px;
		margin-top:0px;
	}
	.money.lineThrough{
		color:#7193a6;
	}



	/***系统图标****/
	.money-fa{
		padding-top:10px;
		padding-right:10px;
	}
	.money-fa:after{
		content:"";
		display:block;
		clear:both;
	}
	.money.gray{
		padding-right:5px;
	}
	.system-icon{
		float:right;
		display:flex;
	}
	.system-icon1{
		width:20px;
		height:20px;
		margin-left:3px;
	}
	.orginmoney{
		color:#7193a6;
	}

