	*{
		margin:0;
		padding:0;
		box-sizing:border-box;
	}
	body{
		font-size:13px;
		background-image:url("../img/colored_body_top2.png");
	}
	a{
		text-decoration:none;
	}
	li{
		list-style:none;
	}
	h2{
		color:#fff;
		font-weight:normal;
		font-size:17px;
	}
	img{
		display:block;
	}


	.center{
		width:1190px;
		margin:0 auto;
	}
	.center_son{
		width:940px;
	}

	/*顶部logo中全部链接字体颜色****/
	.top a{
		display:inline-block;
		color:#b8b6b4;
	}
	.top a:hover{
		color:#fff;
	}
	/**************************/

	/*顶部logo行*/
	.top{
		background-color:#171A21;
		padding-left:290px;
		height:104px;
	}
	.top .logo{
		padding:0;
		margin-top:30px;
		margin-right:25px;
		float:left;
	}
	.topson:after{
		content:"";
		display:block;
		clear:both;
	}
	/**********************/

	/*商家，社区。。。*/
	.head_fa{
		position:relative;
		float:left;
	}
	.heada{
		margin-top:37px;
		padding:7px;
		position:relative;
	}
	.head_son>li{
		float:left;
	}
	.merchant,.community{
		position:absolute;
		padding:5px 15px 10px 15px;
		background-color:#171a21;
		box-shadow:3px 3px 5px -3px #000;
		z-index:40;
	}
	.merchant a,.community a{
		padding:6px 10px 6px 0px;
		font-size:12px;
	}
	.merchant{
		top:67px;
		left:0;
		display:none;
	}
	.community{
		top:67px;
		left:50px;
		display:none;
	}
	/*******************************/
	

	/******登陆，语言*****/
	.login{
		float:right;
		font-size:12px;
		position:relative;
		margin-top:6px;
	}
	.login div{
		position:absolute;
		width:24px;
		height:21px;
		top:0px;
		background-image:url("../img/btn_header_green.png");
		background-repeat: no-repeat;
		background-size:cover;
	}
	.top .install{
		display:inline-block;
		background-color:#698407;
		color:#e5e4dc;
		line-height:21px;
		padding-right:7px;
		padding-left:27px;
	}
	.login span{
		color:#b8b6b4;
	}
	.log1{
		padding:0px 7px;
	}
	.log2{
		padding:2px 17px 2px 7px;
		background-image:url("../img/btn_arrow_down_padded.png");
		background-repeat: no-repeat;
		background-position: 33px 5px
	}
	/******************************/


	/*********设置搜索栏*********/
	/******大盒子样式******/
	.Fatherbox{
		padding-right:15px;
		margin-top:31px;
		position:relative;
	}
	.Fatherbox:after{
		content:"";
		display:block;
		clear:both;
	}
	.grabble{
		float:right;
		background-color:#377097;
	}
	/*************************************/


	/*****设置标题ul,li样式**************/
	.grabble_son>li{
		float:left;
		box-shadow:1px 1px 0px rgba();
		border-right:1px solid rgba(16,21,25,0.3);
		position:relative;
		z-index:39;
		cursor:pointer;
	}
	/*标题a标签字体，颜色,移上颜色*/
	.grabble_son>li>a{
		display:block;
		line-height:35px;
		color:#c6d4df;
		font-size:14px;
		text-indent:1em;
		margin:0px 7px 0px 0px;
	}
	.grabble_son>li:hover{
		background-color:#D0DCE5;
		color:#555;
	}
	.grabble_son>li:hover>a{
		color:#555;
	}
	/**************************************/	

	/***设置input框*****/
	.grabble_input{
		width:230px;
		height:27px;
		margin-right:10px;
		margin-top:4px;
		float:right;
		border:1px solid rgba(0,0,0,0.3);
		box-shadow:1px 1px 0px rgba(255,255,255,0.2);
		background-color:#316282;
		background-image:url("../img/search_icon_btn_over.png");
		background-repeat: no-repeat;
		border-radius:2px;
		background-position:203px 0px;
	}
	.grabble_input input{
		height:25px;
		border:0px;
		outline:none;
		background-color:inherit;
		font-size:14px;
		padding-left:15px;
		color:#333;
	}
	/******************************************/

	/*设置您的商店，游戏...下拉选框的小箭头*/
	.merchant_tab,.tab{
		background-image:url("../img/btn_arrow_down_padded_white.png");
		background-repeat: no-repeat;
	}
	.merchant_tab{
		background-position:72px 12px;
	}
	.tab{
		background-position:45px 12px;
	}
	/******************************/

	/*设置下拉背景*/
	.tab_down{
		position:absolute;
		background-color:#C9D6E1;
		box-shadow: 0px 0px 12px #000;
		padding:8px 5px;
	}
	.tab_down li span{
		color:#4f94bc;
	}
	.tab_down .line{
		width:100%;
		padding:0;
		border-top:1px solid #FFF;
		float:left;
		margin:5px 0px;
	}
	/*下拉选项卡的链接颜色，移上颜色*/
	.tab_down a,.tab_down span{
		display:inline-block;
		color:#000;
		padding:5px 12px;
		font-size:12px;
	}
	.tab_down a:hover{
		background-color:#212d3d;
		color:#fff;
	}
	.merchant_tab{
		width:96px;
	}
	.tab{
		width:70px;
	}
	.grabble_son .new_tab{
		width:50px;
		text-align:center;
		text-indent:0px;
	}
	/**************************/

	/*****设置链接宽度，移上显示下拉***************/
	.merchant_tabDown a{
		width:104px;
	}
	.game_tabDown a{
		width:133px;
	}
	.software_tabDown a,.hardware_tabDown a{
		width:115px;
	}
	.video_tabDown a{
		width:96px;
	}
	.merchant_tabDown,.game_tabDown,.software_tabDown,.hardware_tabDown,.video_tabDown{
		display:none;
	}
	.merchant_tabFa:hover .merchant_tabDown{
		display:block;
	}
	.game_tabFa:hover .game_tabDown{
		display:block;
	}
	.software_tabFa:hover .software_tabDown{
		display:block;
	}
	.hardware_tabFa:hover .hardware_tabDown{
		display:block;
	}
	.video_tabFa:hover .video_tabDown{
		display:block;
	}
	/*******************************************************/

	

	/*设置卡片侧边栏****/
	/*卡片a标签颜色总体样式*/
	.steamcards a{
		font-size:13px;
		display:block;
		color:#66c0f4;
		margin:7px 0px;
	}
	/***********************/
	.steamcards{
		float:left;
		width:210px;
		color:#c6d4df;
	}
	.steamcard{
		width:210px;
	}
	.card_tab{
		margin-top:5px;
	}
	.cardtext{
		font-size:12px;
		display:block;
		margin:15px 0px 7px 0px;
	}
	.steamcards a:hover{
		color:#fff;
	}
	/***********************/

	/*****侧边栏小背景图片*******/
	.bgimg{
		display:inline-block;
		width:16px;
		height:16px;
		margin-right:7px;
		margin-top:1px;
		float:left;
		background-image:url("../img/icons.png");
	}
	/*****************************/


	/******设置第一个banner盒子*/
	.firstBanner{
		height:380px;
		/*background-color:pink;*/
		float:right;
		margin-top:50px;
		position:relative;
	}
	.bannerFa{
		width:100%;
		position:absolute;
		margin-top:11px;
		box-shadow:0px 0px 7px 0px #000;
		display:none;
	}
	.bannerFa.banFaShow{
		display:block;
	}

	.bannerFa:after{
		content:"";
		display:block;
		clear:both;
	}
	.bannerSon_left{
		float:left;
		height:345px;
		/*box-shadow:5px 0 10px 1px #000;*/
	}
	.bannerSon_left a{
		display:block;
		width:100%;
		height:345px;
		overflow:hidden;
	}
	.bannerSon_left img{
		width:616px;
		/*position:absolute;*/
		display:none;
	}
	.bannerSon_left .bannerSon_show{
		display:block;
	}



	.bannerSon_right{
		float:right;
		width:324px;
		height:345px;
		background-image:url("../img/background_maincap_2.jpg");
	}
	.bannerSon_text{
		color:#fff;
		font-size:24px;
		width:314px;
		padding:0px 6px 0px 15px;
		min-height:60px;
	}
	.bannerSon_text span{
		float:left;
		margin-top:10px;
	}
	.img_fa{
		width:100%;
		padding-left:5px;
	}
	.img_fa:after{
		content:"";
		display:block;
		clear:both;
	}
	.banner1Img{
		float:left;
		position:relative;
	}
	.banner1Img img{
		display:inline-block;
		width:150px;
		margin-right:10px;
	}
	.banner1Img.img2 img{
		margin-right:0;
	}
	.banner1Img.img4 img{
		margin-right:0;
	}
	.cover{
		display:block;
		width:150px;
		height:85px;
		position:absolute;
		z-index:38;
		top:0;
		background-color:rgba(0,0,0,0.4);
	}
	.cover:hover{
		opacity:0;
	}
	.tuichu{
		color:#FFF;
		font-size:21px;
		padding-left:15px;
		padding-top:6px;
	}
	.rexiao{
		display:inline-block;
		color:#fff;
		padding:0px 7px;
		background-color:rgba(255,255,255,0.2);
		font-size:12px;
		margin-left:15px;
		margin-top:10px;
	}
	.money{
		color:#fff;
		font-size:12px;
		margin-top:15px;
		padding-left:15px;
	}
	.moneyr{
		float:right;
		display:inline-block;
		width:20px;
		height:20px;
		margin-right:10px;
	}

	/**设置点击箭头******/
	.clickLeft,.clickRight{
		width:45px;
		height:108px;
		position:absolute;
		top:35%;
		cursor:pointer;
	}
	.clickLeft{
		left:-45px;
    	background:linear-gradient(to left,rgba(0,0,0,0) 5%,rgba(0,0,0,0.3) 95%);
	}
	.clickRight{
		right:-48px;
		background:linear-gradient(to right,rgba(0,0,0,0) 5%,rgba(0,0,0,0.3) 95%);
	}
	.clickLeft:hover{
		background:linear-gradient(to right, rgba(171,218,244,0.3) 5%,rgba(171,218,244,0) 95%)
	}
	.clickRight:hover{
		background:linear-gradient(to left, rgba(171,218,244,0.3) 5%,rgba(171,218,244,0) 95%)
	}
	.clickRson,.clickLson{
		width:23px;
		height:36px;
		float:right;
		margin-top:33px;
		margin-right:10px;
		background-image:url("../img/arrows.png");
	}
	.clickLson{
		background-position:-23px;
	}

	/***弹出层*******/
	.popups{
		width:295px;
		background-color:#C9D6E1;
		position:absolute;
		padding:15px;
		left:-300px;
		border-radius:2px;
		z-index:37;
		display:none;
	}
	.xianshi{
		display:block;
	}
	.faxin{
		color:#555;
		margin-bottom:10px;
	}
	.popups h3{
		color:#555;
		font-size:18px;
	}
	.Img{
		position:relative;
		height:146px;
	}
	.Img img{
		width:260px;
		position:absolute;
		display:none;
	}
	.Img .show{
		display:block;
	}
	.pince{
		width:99%;
		background-color:#394148;
		border-radius:2px;
		margin-top:10px;
		padding:3px 0px 3px 10px;
	}
	.pince_p1,.pince_p2{
		color:#ccc;
		margin-bottom:3px;
		font-size:12px;
	}
	.pince_p2 span{
		color:#66c0f4;
		margin-right:5px;
	}
	.userbq{
		color:#555;
		margin-top:15px;
		font-size:13px;
		margin-bottom:4px;
	}
	.biaoqian a{
		padding:2px 5px;
		color:#fff;
		background-color:#999;
		font-size:12px;
	}

	/*设置小圆点*****/
	.circle{
		float:right;
		/* width:; */
		text-align:center;
		margin-top:20px;
	}
	.circle span{
		display:inline-block;
		width:20px;
		height:10px;
		background-color:#496273;
		margin:0px 2px;
		border-radius:2px;
		cursor:pointer;
	}
	.circle .yanse{
		background-color:rgba(255,255,255,0.5);
	}

	/***第二个banner图******/
	.SecBanner{
		float:right;
		height:430px;
		margin-top:50px;
		position:relative;
	}
	.location{
		position:absolute;
		display:none;
	}
	.youhui{
		display:flex;
		justify-content:space-between;
		margin-top:15px;
	}
	.yhSon1,.yhSon2,.yhSon3{
		width:306px;
		height:390px;
		position:relative;
		margin-right:11px;
	}
	.youhui img{
		width:306px;
	}
	.youhuitext{
		width:100%;
		padding:15px 15px;
		background-image:url("../img/liulanback.jpg");
		position:absolute;
		bottom:0px;
	}
	.youhuitext div:after{
		content:"";
		display:block;
		clear:both;
	}
	.youhuitext h2{
		margin:8px 0px;
	}
	.youhuitext p{
		font-size:12px;
		color:#acdbf5;
		margin-bottom:10px;
	}
	.youhuitext span{
		display:inline-block;
		float:left;
	}
	.green{
		background-color:#4c6b22;
		color:#a4d007;
		font-size:26px;
		padding:2px 5px;
	}
	.jiage{
		background-color:rgba(0,0,0,0.6);
		padding:2px 5px;
	}
	.youhuitext em{
		display:block;
		font-style:normal;
		color:#acdbf5;
	}

	.yh div{
		float:left;
	}
	.yh div span{
		display:block;
		float:none;
	}
	.yh div:after{
		content:"";
		display:block;
		clear:both;
	}	
	.yh span{
		float:right;
	}
	.yh{
		width:100%;
		padding:3px;
		background-color:#abdaf4;
	}
	.yh:after{
		content:"";
		display:block;
		clear:both;
	}
	.yh em{
		display:block;
		font-style:normal;
		color:#acdbf5;
	}
	.yh3{
		background-image:url("../img/liulanback.jpg");
		background-position:0px 45px;
	}
	.yh3Son2{
		position:absolute;
		bottom:0;
	}
	.SecBanner{
		position:relative;
	}
	.clickLeft.SecLeft{
		top:37%;
	}
	.yhshow{
		display:block;
	}

	/**优惠弹出框****/
	.popups.yhpopup{
		left:314px;
		top:0;
		display:none;
	}
	.youhui .yhpopup img{
		width:260px;
	}



	.liulan{
		float:right;
		margin-top:50px;
	}
	.liulan_tab{
		display:flex;
		justify-content:space-between;
		margin-top:15px;
	}
	.liulan_tab a{
		display:inline-block;
		width:226px;
		line-height:58px;
		font-size:21px;
		text-align:center;
		color:#66c0f4;
		background-image:url("../img/liulanback.jpg");
		background-position:0px -123px;
		border-radius:2px;
	}
	.liulan_tab a:hover{
		background-position:0px -350px;
		color:#fff;
	}


	/****第三个banner图******/
	.ThiBanner{
		float:right;
		margin-top:50px;
		padding:15px;
		background:linear-gradient(153deg,rgba(255,255,255,0.2) 5%,rgba(255,255,255,0.1) 95%);
		box-shadow:0px 0px 5px #000;
	}
	.ThiBanner h2 span{
		font-weight:bold;
		color:#f00;
	}
	.userimg:after{
		content:"";
		display:block;
		clear:both;
	}
	.userimg img{
		border-radius:3px;
		float:left;
	}
	.userInfo{
		float:left;
		color:#fff;
	}
	.mmm{
		color:#fff;
		font-size:19px;
	}


